<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/styles/layout.css"> -->
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
  <header>Best Books</header>
  <main>
    <span>Search Result</span>
    <% book.forEach(e =>{ %>
        <div class='bookShow'>
          <img src="<%=e.img%>">
          <span class='bookTitle'><%= e.title %></span>
          <br>
          <span><%= e.authors %></span>
          <br>
          <span class='leftalign'><%=e.description%></span>
        </div>
    <% }); %>
  </main>
  <footer></footer>

</body>
</html>