<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="/public/styles/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <header></header>
  <main>
    <h1>Hello</h1>
    <h2>Welcome 301d4</h2>
    <a href="/searches/new">Search for a book</a>
  </main>
<footer>
  <ul class="icons">
    <li><a href="twitter.com/RowaidSayyed" class="icon fa-twitter"></a></li>
    <li><a href="Facebook.com/rowaid.sayyed" class="icon fa-facebook"></a></li>
    <li><a href="github.com/rowaidsayyed" class="icon fa-github"></a></li>
  </ul>
					
</footer>
</body>
</html>