<footer>
  <ul class="icons">
    <li><a href="twitter.com/RowaidSayyed" class="icon fa-twitter"></a></li>
    <li><a href="Facebook.com/rowaid.sayyed" class="icon fa-facebook"></a></li>
    <li><a href="github.com/rowaidsayyed" class="icon fa-github"></a></li>
  </ul>
					
</footer>