
  <header>
    <div class="headerTitle">Best Books</div>
  <div id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="header-fill hidden"></div>
  <div class="nav-bar hidden">
    <ul>
      <a href="/"><li> Home</li></a>
      <a href="/searches/new"><li>Search the Google API</li></a>
    </ul>
  </div>

  </header>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="book_app/public/app.js"></script>